

<h1>Inicio de programacion de actividades</h1>



<div class="row">

    <div class="col-md-6">
        <form  [formGroup]="service.form" (submit)="onSubmit()">


            <div class="form-group">
                <input type="hidden" formControlName="id">
                <input type="text" [formControlName]="'username'"  matInput placeholder="Username"/>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Inciar</button>
            </div>


        </form>

    </div>
</div>
